h1{
    color: red;
    font-size: 100px;
}
p{
    color: red;
}
.paragrafo_pp{
    background-color: black;
    color: aqua;
}
#paragrafo1{
    background-color: yellow;
    color: darkgreen;
    font-size: 30px;
}
.p_bangers {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
