/* Fuente general */
body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    }
.coming-soon-regular {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
}
.pp {
    margin-bottom: 15px;
    text-align: justify;
}
p strong{
    color: rgb(252, 164, 2);
}
/* Nav bar */

/* Header */
header {
    background-image: url(img/back.jpg);
    background-size: cover;
    padding: 110px;
    margin-bottom: 20px;
    color: #fff;
}

header h1 {
    font-weight: bold;
}

header p {
    font-style: italic;
}
/* Main */

/* Cards */
.img_p{
    width: 90%;
    height: auto;
    object-fit: cover;
}
.img{
    height: 180px;
    object-fit: cover; 
}
/* Footer */
footer {
    background-color: #070707;
    padding: 20px;
    color: #fff;
}

footer a {
    color: #fff;
    margin: 15px;
}