*{
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h3, h5, header, footer{
    text-align: center;
}
.img50{
    width: 100%;
}
.imgp{
    width: 2%;
    margin: -15px;
    padding: 2px;
}
.hf{
    background-color: grey;
    padding: 5px;
    margin: 10px;
}
footer h5{
    background-color: grey;
}
footer h3{
    background-color: grey;
}
footer p{
    background-color: grey;
    text-align: center;
}
footer a{
    background-color: grey;
}
footer img{
    background-color: grey;
}
a{
    color: white;
}
p, ol, ul{
    text-align: justify;
}