.row,
.col {
  padding: 0;
  margin: 0;
}

.principal-contato {
  padding: 30px 60px 60px 60px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 100%;
}

form {
  padding: 80px;
  justify-content: center;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.checkbox {
  margin: 20px 0;
}

/* Imagen do fundo da seção horario */
.bg-horario {
  background-image: url(/imagens/fondo_horario2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

/* Efeito de transparência */
.transparent {
  background-color: rgba(16, 14, 14, 0.33);
  backdrop-filter: blur(1px);
  color: white;
  border: 1px solid rgba(16, 14, 14, 0.1);
  padding: 5%;
}

/* Efeito sombra do texto */
.text-transform {
  color: inherit;
  text-decoration: none;
  scale: 1;
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}

.text-transform:hover {
  opacity: 0.800098;
  transform: translateY(0px) scale(1.01199) translateZ(0px);
}

/* Efeito botão */
.enviar {
  width: auto;
  padding: 10px;
  background: rgb(212, 175, 55);
  color: black;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  scale: 1;
}

.enviar:hover {
  background: rgb(212, 175, 55, 1);
  transform: scale(1.0800098);
  transition: transform 0.5s ease-in-out;

}

/* Linha divisão horario */
.hrh {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1; /* Por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilita el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrado vertical y horizontal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
  max-width: 500px; /* Ancho máximo */
  text-align: center; /* Centrar el texto */
}

/* Botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}