#navbar-css {
  background-color: #a2b582;
}

#navbarNav {
  justify-content: center;
}

.bg-custom {
  background-color: #a2b582;
}

.container,
.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.icones a {
  padding-left: 40px;
  color: #556b2f;
  text-decoration: none;
}

.text-footer {
  padding-right: 50px;
}