.bg-admin {
    /* background-image: url(/imagens/carrossel-3.jpg); */
    background-image: url(/imagens/restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    border-radius: 10px;
    color: white;
}

.align-right {
    float: right;
}

.apagar{
    text-decoration: none;
    color: red;
}